.container {
    display: grid;
    grid-template-rows: 10vh 90vh;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background-color: #333333;
}

.header {
    display: flex;
    padding-left: 10px;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.main {
    background-color: #4F4F4F;
    padding: 10px;
}

.nav-bar > ul {
    display: flex;
}

.nav-item {
    padding: 10px;
}

.nav-item > a {
    color: white;
    font-size: 20px;
}

.destaques {
    margin: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

.card {
    min-height: 556px;
    max-height: 556px;
    border: white 2px solid;
    color: white;
}

.card {
    background-image: "assets/noticia_2.jpg";
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
}

.card-footer {
    grid-row: 3 / 4;
    background-color: rgba(99, 99, 99, 0.616);
}

.card-footer > h2, p {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
}

.card-config {
    background-repeat: no-repeat;
    background-size: 180%;
    background-position: center;
}

.border {
    border-radius: 15px;
}

.border-bottom {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.img-noticia {
    grid-row-start: 1;
    grid-row-end: 3;
    width: 100%;
}

#card1 {
    background-image: url("assets/noticia_1.jpeg");
}

#card2 {
    background-image: url("assets/noticia_4.jpg");
}

#card3 {
    background-image: url("assets/noticia_3.jpg");
}

.videos-noticia-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 10%;
    margin-right: 10%;
}

.card-video {
    margin-top: 30px;
    display: flex;
    color: white;
}

.card-video-info {
    margin-left: 15px;
    align-self: center;
}

.card-video-info > h1 {
    font-size: 35px;
}

.card-video-info > p {
    margin-top: 20px;
}

.perfil {
    border-radius: 50%;
}

.sobre-container {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 30px;
    display: grid;
    grid-template-columns: 20fr 80fr;
    grid-gap: 20px;
    color: white;
}

.title {
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}

.big-title {
    font-size: 40px !important;
}

.linkedin {
    margin-top: 50px !important;
}

.saiba-mais-container {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 30px;
    color: white;
    display: flex;
    flex-direction: column;
}

.contato-container {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
}

.contato-container > * {
    margin: 15px;
    font-size: 25px;
    border-radius: 10px;
}

.contato-container-form {
    margin-left: 20%;
    margin-right: 20%;
}

.btn-primary {
    padding: 10px;
    border: none;
    background-color: #006dcb;
    color: white;
}

.title-center {
    align-self: center;
}